 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Poppins&display=swap');
 
 body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden ;
    font-family: 'Lato',sans-serif;
 }
 .navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 650;
    letter-spacing: 0.2rem;
    padding: 20px 0;
    
 }
 .navbar .navbar-nav .nav-link{
    color: white;
    padding-left: 20px;
 }
 .navbar .navbar-nav .nav-link .active,.navbar .navbar-nav .nav-link:hover{
    color: #c3c4c7;
 }
 .heading-content{
    position:absolute;
    top: 22%;
    width: 100%;
    max-width: 100%;
    color:white;
 }
 .heading-content h5{
    font-size: 3em;
    font-weight: 300;
    font-family: monospace;
     }
.heading-content h1{
     font-size: 4em;
        font-weight: bolder;
        font-family: 'montserrat',sans-serif;
         }
.heading-content p{
            font-size: 1em;
            text-transform: uppercase;
               font-weight: lighter;
               font-family: 'montserrat',sans-serif;
               word-spacing:5px ;
               letter-spacing: 2px;
}
    /* about start*/
#about .btn{
    border: 2px solid transparent;
    width: 40%;
    padding: 15px 22px;
    background: black;
    border-radius: 5px;
    margin: 10px;
    
} 
#about .btn a{
    font-size: 1rem;
    font-weight: bold; 
    text-transform: uppercase;
}
#about .btn:hover{
    border: 2px solid #8c8f94;
    cursor: pointer;
}
#about img{
    width: 80%;
    height: 550px ;
}
.service .button{
    border: 2px solid transparent;
    width: 40%;
    padding: 15px 22px;
    background: black;
    border-radius: 5px;
    margin: 10px;
    
} 
.service .button a{
    font-size: 1rem;
    font-weight: bold; 
    text-transform: uppercase;
}
.service .button{
    border: 2px solid #5b81c2;
    cursor: pointer;
}
.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f1;


}

.sec1 h2{
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    letter-spacing: 3px ;
    line-height: 50px;
}
.sec1 h2{
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
.offset:before{
    display: block;
    content: "";
    height: 4rem;
}
footer .logo ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
  }
  footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  footer p {
    text-align: center;
    margin-top: 10px;
  }
  svg {
    width: 90px;
    border-radius: 50%;
  }
  svg:hover {
    outline: 7px solid rgba(184, 184, 184, 0.7);
    transition: 0.9s;
  }
  #Education .card .card-img-top {
    width: 100%;
  }
  #My-work .card .card-img-top {
    width: 100%;
  }
  #Services .card .card-img-top {
    width: 100%;
  }
  .logo ul li a{
    text-decoration-style: none;
  }

@media screen and (max-width: 1440px) {
    /*---smartphones---*/
    .navbar{
      letter-spacing: 0.1em;
      padding: 7px 0;
    }
    .heading-content h5{
      font-size:4em;
    }
    .heading-content h1{
      font-size: 4em;
    }
    .heading-content p{
      font-size: 2em;
    }
    .heading-content{
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }
@media screen and (max-width: 830px) {
  /*---Tablets---*/
  .navbar{
    letter-spacing: 0.1em;
    padding: 10px 0;
  }
  .heading-content h5{
    font-size:3em;
  }
  .heading-content h1{
    font-size: 3em;
  }
  .heading-content p{
    font-size: 0.9em;
  }
  .heading-content{
    position: absolute;
    top: 45%;
    width: 100%;
  }
}
@media screen and (max-width: 697px) {
    /*---smartphones---*/
    .navbar{
      letter-spacing: 0.1em;
      padding: 7px 0;
    }
    .heading-content h5{
      font-size:2em;
    }
    .heading-content h1{
      font-size: 2em;
    }
    .heading-content p{
      font-size: 0.8em;
    }
    .heading-content{
      position: absolute;
      top: 25%;
      width: 100%;
    }
  }

@media screen and (max-width: 485px) {
  /*---smartphones---*/
  .navbar{
    letter-spacing: 0.1em;
    padding: 4px 0;
  }
  .heading-content h5{
    font-size:1.5em;
  }
  .heading-content h1{
    font-size: 1.5em;
  }
  .heading-content p{
    font-size: 0.8em;
  }
  .heading-content {
    position: absolute;
    top: 25%;
    width: 100%;
    
  }
}
@media screen and (max-width: 391px) {
  /*---smartphones---*/
  .navbar{
    letter-spacing: 0.1em;
    padding: 4px 0;
  }
  .heading-content h5{
    font-size:0.9em;
  }
  .heading-content h1{
    font-size: 0.9em;
  }
  .heading-content p{
    font-size: 0.6em;
  }
  .heading-content {
    position: absolute;
    top: 25%;
    width: 100%;
    
  }
}
@media screen and (max-width: 323px) {
  /*---smartphones---*/
  .navbar{
    letter-spacing: 0.1em;
    padding: 4px 0;
  }
  .heading-content h5{
    font-size:0.7em;
  }
  .heading-content h1{
    font-size: 0.7em;
  }
  .heading-content p{
    font-size: 0.4em;
  }
  .heading-content {
    position: absolute;
    top: 25%;
    width: 100%;
    
  }
}
@media screen and (max-width:285px) {
  /*---smartphones---*/
  .navbar{
    letter-spacing: 0.1em;
    padding: 4px 0;
  }
  .heading-content h5{
    font-size:0.7em;
  }
  .heading-content h1{
    font-size: 0.7em;
  }
  .heading-content p{
    font-size: 0.4em;
  }
  .heading-content {
    position: absolute;
    top: 15%;
    width: 100%;
    
  }
}